/* *{   
    outline: 1px solid red;
    outline-offset: -1px;
  }   */

body{
    max-width: 50em;
    line-height: 1.4;
    margin: 0.75em auto;
    padding: 0.25em;
    background-color: #2c3234;  
    color: white;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}



.contact{
    line-height: 8px;
}
.header{
    display:flex;
    justify-content: space-between;
}


.links {
    list-style-type: none;
    color: darkgrey;
    line-height: 2;
    margin: 35px 0px;
}

  .abt-me-div{
    text-align: center;
    padding-top: 15px; 
    padding-bottom: 15px;
  }

  .divider-bot{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
  }
.abt-me{
    display: flex;
    justify-content: space-around;
}

  .headshot{
    max-height: 350px;
  }
  .swim-pic{
    width: 400px;
    height: auto;
  }

  .info-abt-me{
    margin-top: -35px;
    padding-left: 24px;
  }

  .other-info{
    display: flex;
  }